<header>

    <button id="open"><i class='bx bx-menu bx-lg'></i></button>

    <div class="H-right">
        <img src="/img/tijerasLogo.png" alt="">

        <div>
            <a href="/login">Login</a>
        </div>
    </div>

</header>

<!-- <main> -->
    <div id="menu">

        <div class="enlace">
            <i class='bx bxs-home bx-md'></i>
            <a href="/">Home</a>
        </div>

         <div class="enlace">
             <i class="bx bx-grid-alt bx-md"></i>
             <span>Dashboard</span>
         </div>

         <div class="enlace">
             <i class="bx bx-user bx-md"></i>
             <span>Usuarios</span>
         </div>

         <div class="enlace">
             <i class="bx bx-grid-alt bx-md"></i>
             <span>Analíticas</span>
         </div>

         <div class="enlace">
             <i class="bx bx-message-square bx-md"></i>
             <span>Mensajes</span>
         </div>

         <div class="enlace">
             <i class="bx bx-file-blank bx-md"></i>
             <span>Archivos</span>
         </div>

         <div class="enlace">
             <i class="bx bx-cart bx-md"></i>
             <span>Pedidos</span>
         </div>

         <div class="enlace">
             <i class="bx bx-heart bx-md"></i>
             <span>Favoritos</span>
         </div>

         <div class="enlace">
             <i class="bx bx-cog bx-md"></i>
             <span>Configuración</span>
         </div>
     </div>
<!-- </main> -->