<%- include('layout', {title: 'Carrucel', body: `
    <!-- Estilos Galeria -->
    <link rel="stylesheet" href="/styles/galeria.css">
    <!-- Contenido -->
    <div class="Galeria">
        <h1 class="TituloChido">TODO TIPO DE ESTILOS DE UÑAS</h1>
        <section>
            <img src="/img/UÑA1.jpg" alt="Imagen1" class="Imagen1">
            <img src="/img/UÑA2.jpg" alt="Imagen2" class="Imagen2">
            <img src="/img/UÑA3.jpg" alt="Imagen3" class="Imagen3">
            <img src="/img/UÑA4.jpeg" alt="Imagen4" class="Imagen4">
            <img src="/img/UÑA5.jpg" alt="Imagen5" class="Imagen5">
        </section>
        <div class="nosotros">
            <h1>Sobre nosotros</h1>
            <p>En nuestra tienda encontrarás todo tipo de estilos de uñas, desde las más sencillas hasta las más extravagantes. 
                Contamos con un equipo de profesionales que te ayudarán a elegir el diseño que mejor se adapte a tu estilo y personalidad.
                Además, trabajamos con los mejores productos del mercado para garantizar la calidad y durabilidad de nuestras uñas.
                ¡Ven a visitarnos y descubre todo lo que tenemos para ti!</p>
        </div>
    </div>
    <section class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius mollitia, dolorem deleniti iure dignissimos omnis dolore exercitationem, odit excepturi aliquam natus quam. Asperiores consequatur cupiditate maxime nostrum magnam, beatae rem!
    Ab sapiente sit atque odio deserunt iste tenetur cumque rerum nisi, recusandae, temporibus cupiditate repellat laboriosam incidunt ex, voluptatem nihil voluptatum inventore at veritatis numquam? Vero similique modi unde nisi.
    Dolorem eos dicta optio velit laborum tenetur maiores. Nobis omnis laborum quisquam quis incidunt laboriosam illum repudiandae eaque sit, possimus tempore numquam necessitatibus quidem mollitia impedit iusto, debitis odio error.
    Veniam, natus quaerat. Rem libero dignissimos eum inventore tempora possimus, nam perspiciatis eveniet expedita voluptatibus quod ipsam minus natus rerum error neque corporis quaerat aspernatur officia pariatur ratione. Nam, sint!
    Sequi itaque praesentium dolores nobis soluta fugit nam quos beatae maiores possimus dolore necessitatibus officia ducimus, corrupti laudantium fugiat recusandae quo aspernatur accusamus sit nulla sed ipsa ratione! Delectus, non!Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti tempora quas libero eius, deserunt assumenda.</section>
` }) %>
