<%- include('layout', {title: 'Carrucel', body: `
    <!-- Contenido -->
     <div class="Galeria">
    <h1 class="TituloChido">TODO TIPO DE ESTILOS DE UÑAS</h1>
    <section>
        <img src="/img/UÑA1.jpg" alt="Imagen1" class="Imagen1">
        <img src="/img/UÑA2.jpg" alt="Imagen2" class="Imagen2">
        <img src="/img/UÑA3.jpg" alt="Imagen3" class="Imagen3">
        <img src="/img/UÑA4.jpeg" alt="Imagen4" class="Imagen4">
        <img src="/img/UÑA5.jpg" alt="Imagen5" class="Imagen5">
    </section>
    <div class="nosotros">
        <h1>Sobre nosotros</h1>
        <p>En nuestra tienda encontrarás todo tipo de estilos de uñas, desde las más sencillas hasta las más extravagantes. 
            Contamos con un equipo de profesionales que te ayudarán a elegir el diseño que mejor se adapte a tu estilo y personalidad.
            Además, trabajamos con los mejores productos del mercado para garantizar la calidad y durabilidad de nuestras uñas.
            ¡Ven a visitarnos y descubre todo lo que tenemos para ti!</p>
    </div>
</div>
` }) %>
