<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelukas</title>
    <link rel="stylesheet" href="/styles/principal.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Condicional para que si no encuentra el archivo css del layout
         se siga mostrandoel de la vista individual -->
    <% if (typeof cssFile !== 'undefined') { %>
        <link rel="stylesheet" href="<%= cssFile %>">
    <% } %>
    <!-- SCRIPT DE GOOGLE CAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    
</head>
<body>
    <%- include('partials/header') %>
    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="/js/principal.js"></script> 


    <!-- ESTO ES PARA QUE EL DASHBOARD SE MIRE BIEN -->

    <!-- Script de Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Script personalizado para las gráficas -->
    <script src="/js/dashboard.js"></script>
        <!-- FIN DASHBOARD BONITO -->


        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=TU_ID_DE_ANALYTICS"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'TU_ID_DE_ANALYTICS');
        </script>
        <!-- FIN DE GOOGLE ANALYTICS -->

        <!-- Comienzo del contenido -->
        <div>
            <%- body %>
        </div>            

    <script src="/U-asProject/server/public/js/principal.js"></script>
</body>
</html>
