<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelukas</title>
    <link rel="stylesheet" href="/styles/principal.css">
    <link rel="stylesheet" href="/styles/layout 2.0.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Condicional para que si no encuentra el archivo css del layout
        se siga mostrandoel de la vista individual -->
    <% if (typeof cssFile !== 'undefined') { %>
        <link rel="stylesheet" href="<%= cssFile %>">
    <% } %>
    <!-- SCRIPT DE GOOGLE CAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L5184WZFN7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L5184WZFN7');
</script>

</head>
<body>
    <%- include('partials/header') %>
    

        <!-- Comienzo del contenido -->
        <div class="contendorBody2">
            <%- typeof body !== 'undefined' ? body : '' %>

            <div class="parent">
                <div class="div1">1</div>
                <div class="div2">2</div>
                <div class="div3">3</div>
                <div class="div4">4</div>
                <div class="div5">5</div>
                <div class="div6">6</div>
                <div class="div7">7</div>
                <div class="div8">8</div>
                <div class="div9">9</div>
            </div>

        </div>         


    <script src="/U-asProject/server/public/js/principal.js"></script>
</body>
</html>
