<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/LoginBD.css">
</head>
<body>
    <form action="/login" method="POST" class="form-box">
        <h2>Login</h2>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Contraseña" required>

        <div class="boton">
            <button class="boton" type="submit">Login</button>
        </div>

        <br>
        
        <div class="url-log">
            <p>¿No tienes cuenta?</p> <a href="/register" class="a-href">Regístrate</a>
        </div>
        
    </form>
</body>
</html>
