<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelukas</title>
    <link rel="stylesheet" href="/styles/principal.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <button id="open"><i class='bx bx-menu bx-lg'></i></button>
        <img src="/img/tijerasLogo.png" alt="">
    </header>
    <main>
       <div id="menu">
            <div class="enlace">
                <i class="bx bx-grid-alt bx-md"></i>
                <span>Dashboard</span>
            </div>

            <div class="enlace">
                <i class="bx bx-user bx-md"></i>
                <span>Usuarios</span>
            </div>

            <div class="enlace">
                <a href="http://localhost:3000/Analiticas">
                <i class="bx bx-grid-alt bx-md"></i>
                <span>Analíticasa</span>
                </a>
            </div>

            <div class="enlace">
                <i class="bx bx-message-square bx-md"></i>
                <span>Mensajes</span>
            </div>

            <div class="enlace">
                <i class="bx bx-file-blank bx-md"></i>
                <span>Archivos</span>
            </div>

            <div class="enlace">
                <i class="bx bx-cart bx-md"></i>
                <span>Pedidos</span>
            </div>

            <div class="enlace">
                <i class="bx bx-heart bx-md"></i>
                <span>Favoritos</span>
            </div>

            <div class="enlace">
                <i class="bx bx-cog bx-md"></i>
                <span>Configuración</span>
            </div>
        </div>
        <!-- Fin del menu -->
        <!-- Comienzo del contenido -->
        <div class="Galeria">
            <h1 class="TituloChido">TODO TIPO DE ESTILOS DE UÑAS</h1>
            <section>
                <img src="/img/UÑA1.jpg" alt="Imagen1" class="Imagen1">
                <img src="/img/UÑA2.jpg" alt="Imagen2" class="Imagen2">
                <img src="/img/UÑA3.jpg" alt="Imagen3" class="Imagen3">
                <img src="/img/UÑA4.jpeg" alt="Imagen4" class="Imagen4">
                <img src="/img/UÑA5.jpg" alt="Imagen5" class="Imagen5">
            </section>

        </div>            
        <div class="nosotros">
            <h1>Sobre nosotros</h1>
            <p>En nuestra tienda encontrarás todo tipo de estilos de uñas, desde las más sencillas hasta las más extravagantes. 
                Contamos con un equipo de profesionales que te ayudarán a elegir el diseño que mejor se adapte a tu estilo y personalidad.
                Además, trabajamos con los mejores productos del mercado para garantizar la calidad y durabilidad de nuestras uñas.
                ¡Ven a visitarnos y descubre todo lo que tenemos para ti!</p>
        </div>
    </main>
    <script src="/js/principal.js"></script>
</body>
</html>