:root {
    --color-fondo: #24292E;
    --color-fondo-variable: #1D2125;
}

.dashboard-container {
    color: rgb(244, 255, 255);
    display: flex; /* Activa Flexbox */
    flex-direction: column; /* Ordena el texto (h1) arriba */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 0px; /* Espaciado entre el título y las tablas */
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    max-width: 100vw;
}

.tables-container {
    display: flex; /* Activa el diseño en fila */
    justify-content: center; /* Centra las tablas horizontalmente */
    align-items: flex-start; /* Asegura que las tablas estén alineadas arriba */
    gap: 10px; /* Espacio entre tablas */
    width: 1800px; /* Contenedor ocupa todo el ancho */
}

#chart_clics {
    width: 45%; /* Ajusta el ancho */
    height: 300px; /* Altura fija */
    background-color: #ddd; /* Fondo de ejemplo */
    text-align: center;
    line-height: 300px; /* Centra el texto verticalmente */
    border: 2px solid #840050; /* Opcional: agrega un borde personalizado */
    margin: 10px; /* Espaciado alrededor */
}

#chart_usuarios {
    width: 45%; /* Ajusta el ancho */
    height: 300px; /* Altura fija */
    background-color: #eee; /* Fondo de ejemplo */
    text-align: center;
    line-height: 300px; /* Centra el texto verticalmente */
    border: 2px solid #9c005e; /* Opcional: agrega un borde personalizado */
    margin: 10px; /* Espaciado alrededor */
}



@media (max-width: 600px) {
    .tables-container {
        flex-direction: column; /* Tablas se apilan en pantallas pequeñas */
        align-items: center;
    }

    #chart_clics, #chart_usuarios {
        width: 90%; /* Ajusta el ancho de las tablas */
    }
}