:root {
    --fuente-titulos: 'Cormorant Garamond', serif;
    --fuente-subtitulos: 'Poppins', sans-serif;
    --fuente-texto: 'Nunito Sans', sans-serif;
    --color-fondo-variable: #24292E;
    --fondo: #f5f5f5;
    --color-galeria: #1D2125;
}

/* Galeria */
.Galeria{
    width: 95%;
    height: auto;
    margin-top: 20px;
    background-color: var(--color-galeria);
    border-radius: 5px;
}

.lorem{
    text-align: justify;
    margin-top: 20px;
    width: 92%;
    height: auto;
    max-height: 400px;
    border-radius: 5px;
    font-family: var(--fuente-texto);
    color: #f5f5f5;
}

h2{
    color: white;
}
.nosotros{
    text-align: justify;
    background-color: var(--color-fondo-variable);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 95%;
    font-family: var(--fuente-subtitulos);
    color: rgb(244, 255, 255);
}
.TituloChido{
    justify-self: center;
    margin: 10px;
    color: rgb(248, 248, 248);
    font-family: var(--fuente-titulos);

}
section{
    display: flex;
    width: 100%;
    height: 430px;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s;
}
section img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

p{
    font-family: var(--fuente-texto);
}
