:root{
    --color-header: #840050;
    --color-sidebar: #840050;
    --color-sidebar-variable: #9c005e;
    --color-fondo: #f5f5f5;
    --color-cartas: #ffffff;
    --color-sidebar-letras: white;
}
body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: white;
    color: var(--color-sidebar-letras);
    outline: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

header{
    background-color: var(--color-header);
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

main{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.enlace{
    flex: 1 0 45%; /* 1ra columna ocupará el 45% del contenedor */
    position: relative;
    text-align: center;
    height: 8%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 8px;
}

.enlace:hover{
    background-color: var(--color-sidebar-variable);
    color: #f5f5f5;
    transition: .5s;
}

 /* AQUI SE SUPONE QUE LO HACEMOS RESPONSIVO */
@media (min-width:280px){
    #menu {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        z-index: 2;
        color: var(--color-sidebar-letras);
        position: fixed;
        background-color: var(--color-sidebar);
        width: 100%;
        height: 90%;
        opacity: 0;
        visibility: hidden;
        animation: cerrarMenu .5s ease-out forwards;
        transition: opacity .5s ease, visibility 1s ease;
    }

    #menu.visible {
        transition: transform 0.5s;
        opacity: 1;

        visibility: visible;
        animation: slideDown .5s ease-out forwards;
                /* Nombre  duración   tiempo-función    */
    }
}

@media (min-width:600px){
    #menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 2;
        color: var(--color-sidebar-letras);
        background-color: var(--color-sidebar);
        width: 100%;
        height: 90%;
        opacity: 0;
        visibility: hidden;
        animation: cerrarMenu .5s ease-out forwards;
        transition: opacity .5s ease, visibility 1s ease;
    }

    #menu.visible {
        transition: transform 0.5s;
        opacity: 1;

        visibility: visible;
        animation: slideDown .5s ease-out forwards;
                /* Nombre  duración   tiempo-función    */
    }


}

@media (min-width:901px){
    #menu {
        z-index: 2;
        color: var(--color-sidebar-letras);
        position: fixed;
        background-color: var(--color-sidebar);
        width: 10%;
        height: 95%;
        opacity: 0;
        visibility: hidden;
        animation: cerrarMenu .5s ease-out forwards;
        transition: opacity .5s ease, visibility 1s ease;
        margin-top: 50px;
    }
    
    #menu.visible {
        transition: transform 0.5s;
        opacity: 1;
    
        visibility: visible;
        animation: slideDown .5s ease-out forwards;
                /* Nombre  duración   tiempo-función    */
    }

}

@keyframes slideDown {
    from { /*De donde parte*/
        opacity: 0;
        transform: translateX(-100%);
    }
    to { /*En que termina*/
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cerrarMenu {
    from { /*De donde parte*/
        opacity: 1;
        transform: translateX(0);
    }
    to { /*En que termina*/
        opacity: 0;
        transform: translateX(-100%);
    }
}

/*Fin del menu*/



.H-right{
    background-color: var(--color-header);
    display: flex;
    flex-direction: row-reverse;
    /* width: 100%; */
    height:100%;
}

/*.hdp{
    border: none;
    width: 70px;
    height: 100%;
    color: white;
    background-color: rgb(13, 245, 245);
    display: flex;
    align-items: center;
}*/

button{
    border: none;
    width: 70px;
    height: 100%;
    color: white;
    background-color: var(--color-header);
    display: flex;
}

header img{
    padding-left: 20%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.contendorBody{
    background-color: var(--color-fondo);
    border-radius: 10px;
    width: 100vw;
    height: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 6px black;
}

footer{
    background-color: var(--color-header);
}